.react-tel-input .form-control {
  font: inherit;
  /* box-sizing: content-box; */
  letter-spacing: inherit !important;
  font-size: initial !important;
  color: currentColor;
  background: transparent !important;
  margin: 0;
  display: block;
  height: 56px !important;
  padding: 16.5px 14px 16.5px 44px;
  border-radius: 3px;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.23) !important;
}

.form-control:focus {
  border-color: var(--primary) !important;
}

.flag-dropdown {
  background-color: transparent !important;
}

.form-control.invalid-number,
.flag-dropdown.invalid-number {
  border-width: 1px !important;
  border-color: #dd0303 !important;
}

.form-control.invalid-number::placeholder {
  color: #dd0303 !important;
}
